@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'AvenirRegular';
    src: url('../../webfonts/avenir-light.otf') format('opentype');
    src: url('../../webfonts/avenir-black.otf') format('opentype');
    src: url('../../webfonts/avenir-book.otf') format('opentype');
    src: url('../../webfonts/avenir-heavy.otf') format('opentype');
    src: url('../../webfonts/avenir-light.otf') format('opentype');
    src: url('../../webfonts/avenir-medium.otf') format('opentype');
}

body{
//    font-family: 'AvenirRegular';
    font-size: 16px;
}

ul, ol{
    list-style-type: none;
    padding-right: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* Hide Arrow Of Input Type Number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* keyframes */

@keyframes stayUp {
  0% {right: -94px;}
  100% {right: -103px;}
}
@keyframes wideVue {
  0% {left: -224px;}
  100% {left: -233px;}
}
@keyframes control {
  0% {right: -78px;}
  100% {right: -88px;}
}