// media vars with interpolation //

$extraSmall: "(max-width: 575.98px)";
$small: "(min-width: 576px) and (max-width: 767.98px)";
$mediam: "(min-width: 768px) and (max-width: 991.98px)";
$large: "(min-width: 992px) and (max-width: 1199.98px)";
$extraLarge: "(min-width: 1200px)";
$mediumAndLess: "(max-width: 991.98px)";
$smallAndLess: "(max-width: 786px)";

// float vars //

$float-left: left;
$float-right: right;

// color vars //

$mainColor: #00928A;
$secondColor: #E6F8F7;
$thirdColor: #272727;
$fontColor: #00473F;

// fonts vars //

$mainFont: 'Nunito', sans-serif;